@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}


body {
    
    background-color: #262424;
    font-family: "Poppins", sans-serif;

}



.container {

    max-width: 80%;
    margin:  auto;

}


.header {

    display: flex;
    align-items: center;
    min-height: 80vh;
    
    
}



.swiper-slide {
    padding: 0 80px 50px 80px;
    display: flex;
   height: auto;
    justify-content: center;
    align-items: center;
    background-color: #00000028;
    border-radius: 70px;
    border: 2px solid #fff;
   
}



.swiper-button-prev::after {
    font-size: 25px;
  
     margin: 30px;
}

.swiper-button-next::after {
    font-size: 25px;

}

.swiper-button-prev {

    color: #ffffff;
    

}

.swiper-button-next {

    color: #ffffff;
}

.swiper-pagination-bullet {

    background-color: #ffffff;

}

.swiper-pagination-bullet-activate {

    background-color: #ffffff;

}


.menu {


    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background-color: rgba(21, 20, 20, 0.4);
    border-radius: 30px;
}

.logo {

    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;

}

.menu .navbar ul li {

    position: relative;
    float: left;


}


.menu .navbar ul li a {

    font-size: 18px;
    padding: 20px;
    color: #feffff;
    display: block;
}


.menu .navbar ul li a:hover {


    color: #7270EC;


}

#menu {

    display: none;

}

.menu-icono {
    width: 25px;

}

.menu label {
    cursor: pointer;
    display: none;

}


.submenu {


    position: relative;

}

.submenu #carrito {

    display: none;


}

.submenu:hover #carrito {

    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(1200px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;
    border-radius: 10px;
   
   
}

table {

    width: 100%;

}

th,
td {

    color: #feffff;
}

.borrar {

    background-color: #ff6000;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #feffff;
    font-weight: 800;
    margin-left: 40%;
}


.header-content {

    padding: 200px 0 100px 0;

}

.header-info {

    display: flex;

}

.header-txt {


    width: 50%;
}


.header-txt h1 {

    font-size: 50px;
    color: #feffff;
    text-transform: capitalize;


}


.header-img {

    width: 50%;
    text-align: right;



}



.header-img img {

    width: 500px;


}

.prices {

    display: flex;
    margin: 20px 0;
}

.price-1 {


    font-size: 30px;
    color: #747b8f;
    text-decoration-line: line-through;
    margin-right: 25px;
}


.price-2 {

    font-size: 30px;
    color: #ffffff !important;

}

.btn-1 {

    display: inline-block;
    background-color: #7270EC;
    color: #feffff;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 25px;
    margin-top: 40px;

}

.btn-1:hover {

    background-color: #6c69f9;
}


hr {

    border: 1px solid #7a7b8f16;

}

.promos {

    padding: 50px 0;
    text-align: center;


}


.promos h2 {

    font-size: 50px;
    color: #feffff;
    margin-bottom: 35px;

}

.categories {

    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.categorie {

    display: flex;
    align-items: center;
    padding: 35px;

}


.categorie img {

    width: 150px;
}


.categorie-1 {

    width: 50%;

}


.categorie-1 h3 {

    color: #feffff;
    font-size: 22px;
    font-weight: 600;

}

.categorie-1 p {

    color: #747b8f;
    font-size: 18px;

}


.categorie-img {

    width: 50%;

}



.products {

    padding: 50px 0;
}

.products h2 {


    font-size: 50px;
    color: #feffff;
    margin-bottom: 70px;
}

.product {

    text-align: center;
}

.product img {
    margin-bottom: 15px;
    width: 150px;
}

.product-txt h3 {

    font-size: 18px;
    color: #feffff;
    margin-bottom: 15px;
}

.product-txt p {

    color: #ffffff;
    margin-bottom: 15px;
    font-size: 16px;
}

.precio {

    color: #ffffff !important;

}

.btn-3 {

    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: #0000004d;
    border-radius: 25px;
    margin-top: 15px;
}

.btn-3:hover {

    background-color: #ffffff5e;
}
.btn-5 {

    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: #0000004d;
    border-radius: 25px;
    margin-top: 15px;
}

.btn-5:hover {

    background-color: #ff5100;
}


.footer {

    display: flex;
    padding: 30px 0;
}

.link {

    width: 90%;
}

.link h3 {

    color: #feffff;
    margin-bottom: 20px;
}

.link a {

    color: #747b8f;
    font-size: 16px;
    display: block;
    margin-bottom: 18px;
}

.link p {

    color: #747b8f;
    font-size: 16px;
    max-width: 300%;

}

.bienvenidos {

    color: rgb(255, 255, 255); 
    font-weight: 10px;
margin-left: 43%;
    font-size: 50px;
   
    
}

.producto-1 img {

    margin-bottom: 15px;
    width: 900px;
    margin-right: 5%;
    margin-left:0%;
    border-radius: 20px;
}

/* CODIGO EN PANTALLAS MEDIANAS  */


@media(max-width:991px) {

    .menu {
        padding: 20px;

    }

    .menu label {
        display: initial;

    }


    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(21, 20, 20, 0.4);
        display: none;
    }

    .menu .navbar ul li {

        width: 100%;

    }

    #menu:checked~.navbar {
        display: initial;
        margin-top: 2%;
        border-radius: 20px;
    }

    .logo {

        display: none;
    }

    .submenu:hover #carrito {
        min-width: 100%;
    }

    .mySwiper-1 {

        width: auto;
     
        
        
    }

    .swiper-slide {

        padding: 0 30px 50px 30px;
    
    }

    .header-content {

        padding: 100px 0 50px 0;
    }

    .header-info {


        padding: 0;
        flex-direction: column;
        text-align: center;

    }


    .header-txt {

        width: 100%;

    }

    .header-txt h1 {

        font-size: 40px;

    }

    .header-img {

        width: 100%;
    }

    .header-img img {

        width: 200px;
        margin-right: 30%;
    }

    .prices {
        flex-direction: column;
    }

    .prices-1 {

        margin: 0;
    }

    .btn-1 {

        margin: 30px 0;
    }

    .promos {

        padding: 30px;
    }

    .promos h2 {

        font-size: 40px;
        margin-bottom: 0;
    }

    .categories {

        grid-template-columns: repeat(2, 1fr);
    }

    .categorie {

        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .categorie-1 {

        width: 100%;
        margin-bottom: 25px;
        order: -1;
    }

    .categorie-img {

        width: 100%;
    }

    .products {

        padding: 30px;
    }
    .products {

        padding: 30px;
    }

    .producto-1 img {

        margin-bottom: 15px;
        width: 500px;
        margin-right: 20%;
        margin-left:2%;
        border-radius: 20px;
    }
    

    .products h2 {

        font-size: 40px;
        margin-bottom: 40px;
    }

    .footer {

        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;


    }



    .link {

        width: 100%;
    }


    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.712);
        display: none;
      
      }
      
      #alertBox {
        position: fixed;
        top: 40%;
      

        margin-left: 10%;
        align-items: center;
        text-align: center;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        display: none;
        animation: Pulse 1.5s infinite;
        z-index: 100;
      }
      
      #alertContent {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
        
        margin-left: 10%;
      }

      .bienvenidos {

        color: aliceblue;
        
        margin-left: 28%;
      }

}
/* FIN CODIGO EN PANTALLAS MEDIANAS  */

/* CODIGO EN PANTALLAS PEQUEÑAS  */
@media(max-width:700px) {


 
    .bienvenidos {

        color: aliceblue;
        
        margin-left: 8%;
      }

      .categories {

        grid-template-columns: repeat(1, 1fr);
    }
    .producto-1 img{

       
     max-width: 320px;       

    }

    #alertBox {
        position: fixed;
        top: 40%;
        left: -10%;
        right: auto;
        align-items: center;
        text-align: center;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        display: none;
        animation: Pulse 1.5s infinite;
        z-index: 1000;
      }
   
}
/* FIN CODIGO EN PANTALLAS PEQUEÑAS  */

/* Fondo de la seccion de promociones  */

.promo-1 {

    background-color: #00000028;
    border-radius: 40px;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
    border: 5px solid #fff;
}

.promo-2 {

    background-color: #00000028;
    border-radius: 40px;
    margin-right: 3%;
    margin-top: 3%;
    margin-left: 3%;
    border: 5px solid #fff;
}

.promo-3 {

    background-color: #00000028;
    border-radius: 40px;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 3%;
    border: 5px solid #fff;
}

.promo-4 {

    background-color: #00000028;
    border-radius: 40px;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    border: 5px solid #fff;
}

/* FIN Fondo de la seccion de promociones  */

/* Alertas del carrrito exitoso */

  @keyframes Pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }

  
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712);
    display: none;
  
  }
  
  #alertBox {
    position: fixed;
    top: 40%;
    left: 35%;
    right: auto;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    animation: Pulse 1.5s infinite;
    z-index: 1000;
  }
  
  #alertContent {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    
    
  }
  
  #alertBox.fadeOut {
    animation: fadeOut 0.1s forwards;
  }


/* FIN Alertas del carrrito exitoso */






   .producto {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 35%;
   margin-left: 35%;
    color:white;
}


.button {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .button:hover {
    box-shadow: .5px .5px 150px #252525;
  }
  
  .type1::after {
    content: "Gracias ツ";
    height: 50px;
    width: 150px;
    background-color: #ff5e00;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1::before {
    content: "Comprar ";
    height: 50px;
    width: 150px;
    background-color: #fff;
    color: #ff5e00;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  }

  